body
{
    padding-top: 0;
}
body > header
{
    margin-top: 0;
    padding-top: .25rem;
    padding-left: 150px;
    background-image: url('tentacle-bg-transluscent.svg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: top -20px left;
    min-height: 270px;
}

@media (prefers-color-scheme: dark) {
    body > header
    {
        background-image: url('tentacle-bg-surface.svg');
    }
}
@media(max-width: 500px) {
    body > header
    {
        padding-left: 0;
        padding-top: 50px;
        background-size: 50px;
        background-position: top -20px center;
        min-height: 180px;
        text-align: center;
    }
}
